@font-face {
	font-family: 'TTLakes-Regular';
	src: url('../../fonts/TTLakes-Regular.eot');
	src: local('☺'), url('../../fonts/TTLakes-Regular.woff') format('woff'), url('../../fonts/TTLakes-Regular.ttf') format('truetype'), url('../../fonts/TTLakes-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'TTLakes-Bold';
	src: url('../../fonts/TTLakes-Bold.eot');
	src: local('☺'), url('../../fonts/TTLakes-Bold.woff') format('woff'), url('../../fonts/TTLakes-Bold.ttf') format('truetype'), url('../../fonts/TTLakes-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "TTLakes-Regular", Arial, sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	font-size: 12px;
}

.card {
	background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 224px;
    height: 70px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.slider-container {
	max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	background-image: url("back.svg");
}

.swiper-button-next {
	background-image: url("right.svg");
}

.slider-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
}

.slider-buttons {
	display: flex;
	align-items: center;
}